:root {
    /* fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* text colors */
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196F3;
    --logo-cl: #000000;
    --secondary-txt-cl: #757575;
    --white-txt-cl: #fff;
    --contacts-cl: rgba(255, 255, 255, 0.6);
    /* bg colors */
    --dark-bg-cl: #2F303A;
    --btn-hover-cl: #188CE8;
    --light-bg-cl: #F5F4FA;
    /* others */
    --indent: 30px;
    --items: 3;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}