.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;

    background-color: var(--white-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition);

    @media screen and (min-width: 1200px) {
        width: 528px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;

    }

    &__form-title {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(30 / 20);
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        text-align: center;

        
    @media screen and (min-width: 1200px) {
        line-height: calc(23 / 20);
    }


    }

    &__register-form-group {
        width: 100%;
    }

    &__form-group {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &__form-label {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: var(--secondary-txt-cl);
        margin-bottom: 4px;
    }

    &__form-group-textarea {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
    }

    &__form-group-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 8px;
        cursor: pointer;
    }

    &__form-policy {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.03em;
        color: var(--secondary-txt-cl);
        user-select: none;
        text-underline-position: under;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: calc(24 / 14);
        }

    }

    &__form-link {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: var(--accent-txt-cl);

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: calc(24 / 14);
        }
    }



    &__form-icon {
        position: absolute;
        top: 29px;
        left: 12px;
        transition: fill var(--transition);
    }

    
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: fill var(--transition);

    &:hover,
    &:focus {
        fill: var(--accent-txt-cl);
    }
}

.modal__form-textarea {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
    }

    &:focus {
        border-color: var(--accent-txt-cl);
    }
}

.modal__form-input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 43px;
    font-size: 16px;
    line-height: calc(19 / 16);
    outline: transparent;
    transition: border-color var(--transition);

    &:focus {
        border-color: var(--accent-txt-cl);
    }   

    &:focus+.modal__form-icon {
        fill: var(--accent-txt-cl);
    }
}
.modal__btn-send {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-txt-cl);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white-txt-cl);
    transition: background-color var(--transition);

    &:focus,
    &:hover {
        background-color: var(--btn-hover-cl);
    }
}

        
    






.modal__checkbox-yes {
    opacity: 0;
    transition: opacity var(--transition);

    .checkbox:checked+.modal__checkbox-icon & {
        opacity: 1;
    }
}

.checkbox:checked+.modal__checkbox-icon .modal__checkbox-none {
    opacity: 0;
    transition: opacity var(--transition);
}

